
<h1>Table Number: <%= @party.table_name %></h1>
<h1>Party of: <%= @party.guests %></h1>

<% if @party.orders.any? %>
	<form action="/parties/<%= @party.id %>/orders" method='POST'>
	    <% @party.guests.times do |seat_number| %>
	    <fieldset for="order_food">
	        <label>Seat number: <%= seat_number + 1 %></label>
	        <select name= "order[<%= seat_number %>][food_id]">
	       	<% order = Order.find_by(seat_number: seat_number, party_id: @party.id) %>
	        <% @foods.each do |food| %> 
	            <option id="party_name" 
	                    type="text" ss
	                    value="<%= food.id %>"
	                    <%= "selected" if order.food_id == food.id %>>
	            <%= food.name %> 
	            </option>
	          <% end %>
  	<input type="hidden" name="order[<%= seat_number %>][comped]" value="0">
	<input type="checkbox" name="order[<%= seat_number %>][comped]" value="1" <%= "checked" if order.comped %>>Comp</input>

    </select>
    </fieldset>
	 <br/>

 <% end %>
 <br/>
    <input type="hidden" 
          name="_method" 
          value="PATCH">
	    <input type="submit" value="Create or Update Order"> 
	</form>
  <br/>
</form>
<form action='/parties/<%= @party.id %>/receipt' 
	method="POST">
<section id="receipt">
 <h2>Receipt</h2>
  <% @party.guests.times do |seat_number| %>
 
  <li><p>Seat number: <%= seat_number + 1 %></p></li>
  <% order = Order.find_by(seat_number: seat_number, party_id: @party.id) %>
     <% @foods.each do |food| %> 
        
	 <% if order.food_id == food.id  %>
	     <p> <%= food.name %> _ _ _ _ 
  
	    <%if order.comped %>
	       comped.
      <% else %>
	   <%= currency (food.price )%>
	  </p>
	 </li>  
       <% end %>
    <% end %>
  <% end %>
 <% end %>
<ul>
<p>Sub Total: <%= currency ( @currentTotal) %> </p>

 <label for="tip" name="party[tip]">Suggested Tip:</label>
15%<input id="tip" type="checkbox" name="party[tip]" value="<%= @currentTotal * 0.15.to_d %>">
20%<input id="tip" type="checkbox" name="party[tip]" value="<%= @currentTotal * 0.20.to_d %>">
25%<input id="tip" type="checkbox" name="party[tip]" value="<%=@currentTotal * 0.25.to_d %>">

	<p>Tip:____________________</p>
	<p>Total:___________________</p>
   <input type="hidden" 
          name="_method" 
          value="PATCH"> 
    <input type="hidden" name="party[total]" value="<%= @currentTotal %>"> 
	<input type="submit" value="Check out"> 
</form>
</section>

<% else %>

	<form action="/parties/<%= @party.id %>/orders" method='POST'>
	    <% @party.guests.times do |seat_number| %>
	        <label>Seat number: <%= seat_number + 1 %></label>
	        <select name ="order[<%= seat_number %>][food_id]">
	        <% @foods.each do |food| %> 
	            <option id="party_name" 
	                            type="text" 
	                            value="<%= food.id %>">
	            <%= food.name %> 
	            </option>
	            <% end %>
 <input type="hidden" name="order[<%= seat_number %>][comped]" value="0">           
<input type="checkbox" name="order[<%= seat_number %>][comped]" value="1">Comp</input>

	        </select>
	        <br/>
	    <% end %>
	      <br/>
	    <input type="submit" value="Create New Order"> 
	</form>
   <a href="/parties/<%= @party.id %>/edit"> <input type="submit" value="Edit Party"></a></input>

<% end %>

     


 
<!-- I need a form which patches party and has a tip field and a hidden field which sets a party.paid to true -->
