
<h1>Table Number: <%= @party.table_name %></h1>
<h1>Party of: <%= @party.guests %></h1>

<h3><a href="/orders">Edit Party</a></h3>
<p>Total Guests: <%= @party.guests %></p>

<% @party.orders.each do |o| %>

	<p>Seat <%= o.seat_number %>: <%= o.food.name %></p>
<% end %>

<!-- <label> Comped? </label>
<select for="order_comped"name="order[][comped]">
<input type='hidden' name='order[comped][]'value="false">

<option id="order_comped" type="text" value="true">True</option>
<option id="order_comped" type="text" value="false">False</option>
</select>
 <br/> -->




<!-- </a>
<a href="/orders/<%= @party.id%>" -->