<form action="/party/<%= @party.id %>/orders" method='POST'>
    <% @party.guests.times do |seat_number| %>
        <label>Seat number: <%= seat_number + 1 %></label>
        <select name ="order[<%= seat_number %>][food_id]">
        <% @foods.each do |food| %> 
            <option id="party_name" 
                            type="text" 
                            value="<%= food.id %>">
            <%= food.name %> 
            </option>
            <% end %>
        </select>
        <br/>
    <% end %>
    <input type="submit" value="Submit Order"> 
</form>