
<section class=" order_show">

<h2>Order ID: <%= @order.id %></h2>

<p>Receipt ID: <%= @order.party_id%></p>
<p>Food ID: <%= @order.food_id%></p>
<p>Comped: <%= @order.comped%></p>
<p>Seats Number: <%= @order.seat_number + 1%></p>
<p>Created at: <%= @order.created_at.strftime("%l:%M %p")%></p>

<a href="/orders/<%= @order.id %>/edit">Edit Order</a>

</section>
